table.table.table-striped
        tr
            th Name*
            th Age 
            th Email*
            th Date Created
            th Active
            th Friends
            th Address
        each user in users 
            tr
                td=user.name
                td=user.age
                td=user.email
                td=user.createdAt
                td=user.isActive
                td=user.friends
                td=user.address